<div class="navbar">
  <h1 class="navbar-header"><%= link_to 'Plandis', plans_path, class: 'navbar-link' %></h1>
  <h1 class="navbar-header"><% if user_signed_in? %>
      <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, 
      style: "background-color: transparent; border: none; color: white; float: right;" %>
    <% else %>
      <%= button_to 'Sign In', new_user_session_path, class: 'navbar-link',
       style: "background-color: transparent; border: none; color: white; float: right;"%>
    <% end %></h1>
</div>
<style>
  body {
    margin: 0;
  }
  /* Style the navbar */
  .navbar {
    width: 100%;
    background-color: #8E44AD;
    padding: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
  }

  /* Style the navbar header */
  .navbar-header {
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  /* Style the navbar links */
  .navbar-link {
    color: White;
    text-decoration: none;
  }

  /* Change color on hover */
  .navbar-link:hover {
    color: #5a6268;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  h1 {
    margin: 0;
  }
</style>
