<%= render "form", plan: @plan %>

<div class = "content-margin">
  <%= link_to "Show this plan", @plan %> |
  <%= link_to "Back to plans", plans_path %>
</div>

<style>
.content-margin {
  margin-left: 1%; 
}
</style>